# Implementasi Backpropagation

## Excel

[Manual Backpropagation](https://docs.google.com/spreadsheets/d/1SWfv5Rwf80qw_F3-27oIIT-wDon9H5lNBkYNhy6oGc8/edit?usp=sharing)

## Python

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import warnings
warnings.filterwarnings("ignore")

## read dataset

In [ ]:
dt = pd.read_csv('https://raw.githubusercontent.com/farisulhaq/dataset/main/bmi-dataset.csv')
dt

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

## Prepocessing dataset

### OneHotEncoder

In [ ]:
df = pd.get_dummies(dt, prefix='Gender')

In [ ]:
df

     Height  Weight  Index  Gender_Female  Gender_Male
0       174      96      4              0            1
1       189      87      2              0            1
2       185     110      4              1            0
3       195     104      3              1            0
4       149      61      3              0            1
..      ...     ...    ...            ...          ...
495     150     153      5              1            0
496     184     121      4              1            0
497     141     136      5              1            0
498     150      95      5              0            1
499     173     131      5              0            1

[500 rows x 5 columns]

### MinMax

In [ ]:
X = df.drop('Index', axis=1)
y = df['Index']

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(X)
df_scaled = pd.DataFrame(df_scaled, columns=X.columns)
df_scaled

       Height    Weight  Gender_Female  Gender_Male
0    0.576271  0.418182            0.0          1.0
1    0.830508  0.336364            0.0          1.0
2    0.762712  0.545455            1.0          0.0
3    0.932203  0.490909            1.0          0.0
4    0.152542  0.100000            0.0          1.0
..        ...       ...            ...          ...
495  0.169492  0.936364            1.0          0.0
496  0.745763  0.645455            1.0          0.0
497  0.016949  0.781818            1.0          0.0
498  0.169492  0.409091            0.0          1.0
499  0.559322  0.736364            0.0          1.0

[500 rows x 4 columns]

## Model

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=1)

In [ ]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(random_state=1, max_iter=500, activation='logistic')
clf.fit(X_train, y_train)

MLPClassifier(activation='logistic', max_iter=500, random_state=1)

In [ ]:
y_pred = clf.predict(X_test)
y_pred

array([5, 3, 4, 2, 5, 4, 5, 1, 4, 5, 5, 3, 5, 4, 4, 4, 2, 5, 5, 4, 3, 5,
       5, 0, 5, 4, 5, 4, 4, 3, 3, 5, 3, 5, 4, 5, 2, 2, 4, 4, 3, 3, 5, 5,
       5, 4, 5, 5, 2, 5, 4, 0, 4, 2, 5, 0, 2, 5, 5, 3, 2, 0, 5, 4, 2, 5,
       2, 5, 4, 3, 5, 3, 5, 5, 5, 5, 5, 2, 3, 5, 5, 5, 3, 4, 2, 5, 4, 5,
       5, 5, 2, 5, 2, 5, 5, 3, 4, 4, 5, 3])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.85